@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'amsipro';
    font-weight: 200;
    src: local(''), url('/fonts/amsipronarw/ULTRA.TTF');
  }
  @font-face {
    font-family: 'amsipro';
    font-weight: 400;
    src: local(''), url('/fonts/amsipronarw/REGULAR.TTF');
  }
  @font-face {
    font-family: 'amsipro';
    font-weight: 600;
    src: local(''), url('/fonts/amsipronarw/SEMI-BOLD.TTF');
  }
  @font-face {
    font-family: 'amsipro';
    font-weight: 700;
    src: local(''), url('/fonts/amsipronarw/BOLD.TTF');
  }
  @font-face {
    font-family: 'amsipro';
    font-weight: 900;
    src:
      local(''),
      url('/fonts/amsipronarw/BLACK.TTF') format('ttf');
  }

  @font-face {
    font-family: 'amatemora';
    src: local(''), url('/fonts/amatemora/AMATEMORA.OTF');
  }
  /* @font-face {
    font-family: 'amatemora';
    font-weight: 600;
    font-style: italic;
    src: local(''), url('/fonts/amatemora/ITALIC.ttf');
  } */
}

@layer components {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
}

.text-clamp-2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;


  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

/* @keyframes smoothscroll1 {
  from, to { scroll-behavior: smooth; }
}

@keyframes smoothscroll2 {
  from, to { scroll-behavior: smooth; }
}

html {
  animation: smoothscroll1 1s;
}

html:focus-within {
  animation-name: smoothscroll2;
  scroll-behavior: smooth;
} */
